<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
    <block th:replace="fragments/commons::completeHeader"></block>
    <link rel="stylesheet" type="text/css" href="https://cdn.marica.bg/css/marica.bg/materialdesignicons/3.8.95/css/materialdesignicons.min.css">

    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" th:object="${article}">
                <div class="left_content">
                    <div class="contact_area">
                        <div class="article-content-header mobile-p-top-10">
                            <a sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'REPORTER')"
                                    th:href="@{/articles/edit/{id}(id = *{id})}" class="btn btn-primary delete-button">
                                <span>Edit</span>
                            </a>
                            <h1 class="title" itemprop="headline" th:text="*{title}"></h1>
                            <div class="article-info clearfix">
                                <ul class="clearfix">
                                    <li><i class="icon mdi mdi-calendar-month"></i><span th:text="*{posted}"></span></li>
                                    <li class="author">
                                        <i class="icon mdi mdi-account-outline"></i>
                                        <a href="#" th:text="*{authorFullName}"></a>
                                    </li>
                                    <li><i class="icon mdi mdi-eye-outline"></i><span th:text="*{seen}"></span></li>
                                    <li><i class="icon mdi mdi-comment-text-multiple-outline"></i><a href="#anchor-comments"><span th:text="*{comments.size()}"></span></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="article-content-body" >
                            <div class="featured-image">
                                <div class="article-image" >
                                    <a class="lg-img" th:href="*{imageUrl}">
                                        <img th:src="*{imageUrl}" alt="" width="710" style="max-width: 100%">
                                    </a>
                                </div>
                            </div>
                            <div class="text-information">
                                <p th:text="*{text}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/commons::popular"></div>
        </div>
    </section>

    <footer th:replace="fragments/commons::footer" ></footer>
</div>
<block th:replace="fragments/commons::scripts"></block>
</body>
</html>