<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<div class="main ">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <div class="container">
    <div class="page-header p-top-0">
      <h1 class="page-title">My profile</h1>
    </div>
    <div class="row section profile-cont">
      <div class="col-md-3">
        <div class="left-sidebar">
          <div class="left-sidebar-header">
            <div class="sidebar-avatar">
              <i class="icon mdi mdi-account"></i>
            </div>
            <div class="sidebar-avatar-info">
              <h3 th:text="${principalName}">name</h3>
              <h3 class="avatar-subtitle"><span th:text="${principalEmail}">email</span></h3>
            </div>
          </div>

          <div class="left-sidebar-body">
            <div class="account-options">
              <a href="/users/profile/settings">
<span class="special-icon">
<i class="icon mdi mdi-account-settings"></i>
</span>
                <span class="icon-text"> Settings</span>
              </a>
            </div>
            <div class="account-options">
              <a th:href="@{/users/profile/change-password}">
<span class="special-icon">
<i class="icon mdi mdi-lock-outline"></i>
</span>
                <span class="icon-text"> Change password</span>
              </a>
            </div>
            <div class="account-options">
              <a href="https://www.marica.bg/profile/ads">
<span class="special-icon">
<i class="icon mdi mdi-bullhorn-outline"></i>
</span>
                <span class="icon-text"> My ads</span>
              </a>
            </div>
            <div class="account-options">
              <a onclick="document.getElementById('logout-form').submit();">
<span class="special-icon">
<i class="icon mdi mdi-exit-to-app"></i>
</span>
                <span class="icon-text"> Logout</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <form th:action="@{/users/profile/change-password}"
              th:object="${userUpdatePasswordBindingModel}"
              method="POST">
          <div class="profile-form">
          <div class="">
            <div class="profile-header-title">
              <h3>Change password</h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label">
                  <label>Old password</label>
                  <input type="password" class="form-control" name="oldPassword" value="" placeholder="Old password" required="">
                    <small th:if="${incorrectPassword}"
                           class="text-light form-text bg-danger rounded">Incorrect password</small>
                    <small th:if="${samePassword}"
                           class="text-light form-text bg-danger rounded">New password cannot be the same as the previous one</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label">
                  <label>New password</label>
                  <input type="password" class="form-control" name="newPassword" value=""
                         th:errorclass="is-invalid"
                         placeholder="New password" required="">
                    <small th:each="e : ${#fields.errors('newPassword')}" th:text="${e}" id="newPasswordError"
                           class="invalid-feedback text-light form-text bg-danger rounded">
                        Password length must be between 4 and 20 characters and passwords should match.
                    </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label">
                  <label>Confirm password</label>
                  <input type="password" class="form-control" name="confirmNewPassword"
                         th:errorclass="is-invalid"
                         value="" placeholder="Confirm password" required="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btn primary-btn btn-save">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
