<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<main class="p-5 align-content-center">
    <h1 class="text-light border-left pl-2">Welcome to</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at rutrum turpis, eget rutrum felis. Nullam eu
                scelerisque risus, in volutpat velit. Ut quis dui porta, faucibus metus quis, pulvinar neque. Suspendisse
                potenti. Sed vel magna sed urna sodales varius sed eget ipsum. Nullam urna sem, semper id faucibus non,
                eleifend eu velit. Sed ac nisl sit amet velit vehicula tempus non eget magna. Nulla massa eros, sollicitudin
                a blandit ut, lobortis nec erat. Curabitur in tortor sed dui sagittis suscipit. Sed semper magna tellus,
                quis tincidunt arcu feugiat aliquet. Nunc ut nulla sollicitudin, ullamcorper quam quis, porta felis.

                Aliquam erat volutpat. Aliquam sed ipsum sapien. Donec neque leo, luctus id mattis a, dictum tempor nisl.
                Mauris lectus massa, fermentum nec velit sed, vulputate luctus felis. Mauris suscipit est ipsum, sed pretium
                ligula feugiat sed. Donec auctor a quam et condimentum. Donec imperdiet eu enim eget dictum. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae quam id ipsum
                pretium lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc varius ullamcorper orci,
                eget congue lectus. Ut lacinia malesuada dictum.

                Nam fringilla turpis a dui facilisis, et accumsan augue sagittis. Aliquam erat volutpat. Nam suscipit sem
                eget magna dictum suscipit. Sed sodales libero et massa volutpat, eu ullamcorper leo tincidunt. Nam at velit
                vel lacus dictum dictum. Mauris ornare dui quis nibh commodo mattis. Duis sit amet metus adipiscing,
                ultricies orci in, auctor risus.

                Duis ultrices ipsum velit, et tincidunt ligula dictum non. Ut laoreet at purus vitae consequat. Fusce ac
                massa aliquam, ullamcorper leo vitae, fermentum dolor. Suspendisse accumsan metus eu leo scelerisque, et
                ullamcorper neque consequat. Morbi dolor augue, fringilla non dui nec, posuere sollicitudin dui. Aenean eu
                tincidunt libero. Morbi ipsum tellus, porttitor et ante sed, elementum blandit velit.

                Vestibulum id nulla est. Maecenas tristique dolor non tellus sodales volutpat. Maecenas consequat convallis
                tellus. Praesent hendrerit lectus vel lorem euismod pulvinar. Curabitur volutpat justo mi, quis consectetur
                diam mattis placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget hendrerit nibh. Fusce
                gravida blandit sagittis. Donec a aliquet nisl. Etiam aliquet justo iaculis, commodo lectus vel, aliquam
                enim. Vestibulum eu dolor ac dolor elementum porttitor. Morbi facilisis et risus sed pretium. Pellentesque
                nulla nisi, vehicula accumsan augue sed, eleifend scelerisque nulla. Maecenas vestibulum libero rutrum lorem
                egestas, euismod tincidunt dolor feugiat.
            </div>
        </h1>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
