<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur">
    <h1 class="text-light border-left pl-2">Welcome to</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">Daily Nail</h1>
    <h1 class="text-light border-left pl-2">
        <div class=".">Lorem
            ipsum dolor sit a
            met, consectetur
            adipisicing elit.
            Atque beatae, de
            leniti dolores
            exercitationem fa
            cere id in, labor
            e molestiae non p
            ossimus praesen
            tium quas sed su
            nt totam veritatis,
            voluptas volupt
            atibus! Earum, non.
        </div></h1>

</main>
<footer th:replace="fragments/commons::footer" class="footer bg-blur"></footer>
</body>
</html>
